
body{
    background-color: rgb(0, 255, 255);
    
}

a{
    text-decoration: none;
}

#body_index{
    background-image: url(https://images.wallpapersden.com/image/download/jojo-s-bizarre-adventure-all-star-battle-r-4k-gaming-poster_bmZmZ22UmZqaraWkpJRobWllrWdma2U.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header_home_page{
    color: white;
    position: relative;
    text-align: center;
}

a{
    color: currentColor
}

#span_header_1{
    background-color:rgb(0, 0, 0);
    padding: 1dvh;
    border: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    right: 10dvh;
    border-radius: 10px;
}

#span_header_2{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1dvh;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#span_header_3{
    background-color: rgb(0, 0, 0);
    padding: 1dvh;
    border: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    left: 10dvh;
    border-radius: 10px;
}

#article_home_page{
    color: white;
    border-color: black;
}

#span_intro, #intro{
    position: relative;
    text-align: center;
    left: 3dvh;
    width: 97%;
}




nav{
    display: flex;
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    border: solid;
}

#button_1{
    background-color: black;
    color: white;
    border: solid;
    padding: 1dvh;
    border-radius: 7px;
}

#button_2{
    background-color: white;
    color: black;
    border: solid;
    padding: 1dvh;
    border-radius: 7px;
}




#Araki_photo{
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical (optionnel) */
    
}

#photo{
    max-width: 100%;  /* Empêche l'image de dépasser la largeur de l'écran */
    height: auto;     /* Conserve les proportions */
    border: solid;
    border-radius: 15px;
}

#auteur_title{
    text-align: center;
}

#Biographie{
    text-align: center;
    border: solid;
    border-radius: 15px;
    background-color:RGB(255, 234, 112);
}




#part_histoire{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    justify-self: center;
    align-items:last center;
    margin-top: 10dvh;
}

#part1_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
}

#part2_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
}

#part3_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
}

#part4_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
    background-color: white;
}

#part5_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

#part6_histoire{
    border: solid;
    max-width: 49dvh;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

#part7_histoire{
    border: solid;
    max-width: 40dvh;
    height: auto;
    border-radius: 15px;
}



p, h2, h1{
    text-align: center;
}

#img_part{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-wrap: wrap; 
}

#img_aspect{
    max-width: 100%; 
    height: auto;   
    border: solid;
    border-radius: 15px;
    background-color: white;
}

#img_aspect_black{
    max-width: 100%; 
    height: auto;   
    border: solid;
    border-radius: 15px;
    background-color: black;
}





footer{
    display: flex;
    border: solid;
    border-color: black;
    background-color: purple;
    border-radius: 15px;
    padding: 10px;
    color: white;
    justify-content: space-between;
}

#footer_1_button{
    margin-left: auto;
    border: solid;
    padding: 5px;
    background-color: black;
    border-radius: 7px;
}

#footer_button_part2-7{
    border: solid;
    padding: 5px;
    background-color: black;
    border-radius: 7px;
}