
#header_home_page{
    color: white;
    background-color: purple;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a{
    color: currentColor
}

#span_header_1{
    background-color:rgb(0, 0, 0);
    padding: 1dvh;
    border: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    right: 10dvh;
    border-radius: 10px;
}

#span_header_2{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1dvh;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#span_header_3{
    background-color: rgb(0, 0, 0);
    padding: 1dvh;
    border: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    left: 10dvh;
    border-radius: 10px;
}

#article_home_page{
    background-color: blue;
    background-size: auto;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: solid;
    border-color: black;
}

#span_intro, #intro{
    position: relative;
    text-align: center;
    left: 3dvh;
}


nav{
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
}

#button_1{
    position: relative;
    text-align: end;
    background-color: black;
    color: white;
    border: solid;
    padding: 1dvh;
    border-radius: 7px;
    bottom: 1.5dvh;
    left: 160dvh;
}

#button_2{
    position: relative;
    background-color: white;
    color: black;
    border: solid;
    padding: 1dvh;
    border-radius: 7px;
    bottom: 1.5dvh;
    left: 162dvh;
}



#Araki_photo{
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical (optionnel) */
}

#photo{
    max-width: 100%;  /* Empêche l'image de dépasser la largeur de l'écran */
    height: auto;     /* Conserve les proportions */
    border: solid;
    border-radius: 15px;
}

#auteur_title{
    text-align: center;
}